name: Database Backup

on:
  schedule:
    - cron: '0 1 1 * *'
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock
          restore-cache: "true"
          save-cache: "true"
          cache-python: "true"

      - name: Install dependencies
        run: uv sync --locked --no-dev

      - name: Set environment variable
        run: |
          cp .env.example .env

          sed -i "s|^STORAGE_REMOTE_DEFAULT=\$|STORAGE_REMOTE_DEFAULT=${{ vars.STORAGE_REMOTE_DEFAULT }}|" .env

          sed -i "s|^AWS_BUCKET=\$|AWS_BUCKET=${{ vars.AWS_BUCKET }}|" .env
          sed -i "s|^AWS_DEFAULT_REGION=\$|AWS_DEFAULT_REGION=${{ vars.AWS_DEFAULT_REGION }}|" .env
          sed -i "s|^AWS_ACCESS_KEY_ID=\$|AWS_ACCESS_KEY_ID=${{ vars.AWS_ACCESS_KEY_ID }}|" .env
          sed -i "s|^AWS_SECRET_ACCESS_KEY=\$|AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}|" .env

          sed -i "s|^CLOUDFLARE_ACCOUNT_ID=\$|CLOUDFLARE_ACCOUNT_ID=${{ vars.CLOUDFLARE_ACCOUNT_ID }}|" .env
          sed -i "s|^CLOUDFLARE_BUCKET=\$|CLOUDFLARE_BUCKET=${{ vars.CLOUDFLARE_BUCKET }}|" .env
          sed -i "s|^CLOUDFLARE_ACCESS_KEY_ID=\$|CLOUDFLARE_ACCESS_KEY_ID=${{ vars.CLOUDFLARE_ACCESS_KEY_ID }}|" .env
          sed -i "s|^CLOUDFLARE_SECRET_ACCESS_KEY=\$|CLOUDFLARE_SECRET_ACCESS_KEY=${{ secrets.CLOUDFLARE_SECRET_ACCESS_KEY }}|" .env

          sed -i "s|^MYSQL_HOST=\$|MYSQL_HOST=${{ vars.MYSQL_HOST }}|" .env
          sed -i "s|^MYSQL_PORT=\$|PGSQL_PORT=${{ vars.MYSQL_PORT }}|" .env
          sed -i "s|^MYSQL_USER=\$|PGSQL_USER=${{ vars.MYSQL_USER }}|" .env
          sed -i "s|^MYSQL_PASSWORD=\$|POSTGRES_USER=${{ secrets.MYSQL_PASSWORD }}|" .env

          sed -i "s|^PGSQL_HOST=\$|PGSQL_HOST=${{ vars.PGSQL_HOST }}|" .env
          sed -i "s|^PGSQL_PORT=\$|PGSQL_PORT=${{ vars.PGSQL_PORT }}|" .env
          sed -i "s|^PGSQL_USER=\$|PGSQL_USER=${{ vars.PGSQL_USER }}|" .env
          sed -i "s|^PGSQL_PASSWORD=\$|POSTGRES_USER=${{ secrets.PGSQL_PASSWORD }}|" .env

      - name: Install MySQL client
        run: |
          curl -fsSL https://repo.mysql.com/RPM-GPG-KEY-mysql-2025 | sudo gpg --dearmor -o /usr/share/keyrings/mysql-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/mysql-archive-keyring.gpg] http://repo.mysql.com/apt/ubuntu/ jammy mysql-innovation" | sudo tee /etc/apt/sources.list.d/mysql.list
          sudo apt update
          sudo apt-get install -y mysql-client

      - name: Install PostgreSQL client
        run: |
          sudo apt install -y postgresql-common
          sudo /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh -y
          sudo apt update
          sudo apt install -y postgresql-client-18

      - name: Run backup
        run: uv run python main.py
